@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/themes/styles.css";
@import "./theme-config.css";

:root {
	--background-rgb: 255, 255, 255;
	--foreground-rgb: 0, 0, 0;
	--padding-M: 20px;
	--spacing-M: 2vw;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-rgb: 3, 3, 3;
		--foreground-rgb: 255, 255, 255;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}
