@tailwind base;

:root {
	--foreground-rgb: 0, 0, 0;
	--padding-M: 20px;
	--spacing-M: 2vw;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
	}
}

body {
	color: rgb(var(--foreground-rgb));
}
